.px-1p {
  padding: 0% 1%;
}

.min-content-height {
  min-height: calc(100vh - 3rem);
}
.content-height {
  height: calc(100vh - 3rem);
}

.chat-box-actions textarea {
  width: 100%;
  background-color: inherit;
}

.chat-box-actions textarea:active {
  outline-color: #9147ff;
}

.card .align-t-l {
  top: 0.75rem;
  left: 0.75rem;
  color: white;
}

.card .align-b-l {
  bottom: 0.75rem;
  left: 0.75rem;
  color: white;
}

.card .align-t-r {
  bottom: 0.75rem;
  right: 0.75rem;
  color: white;
}
.card-text-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 0.4rem;
}
.mobile .card {
  border-width: 1px;
}
