.px-1p {
  padding: 0% 1%;
}
input {
  outline: none;
}
button:focus {
  outline: none !important;
}
.min-content-height {
  min-height: calc(100vh - 3rem);
}
.content-height {
  height: calc(100vh - 3rem);
}
.chat-box-height {
  max-height: calc(100vh - 8rem);
}

.chat-box-actions textarea {
  width: 100%;
  background-color: inherit;
  resize: none;
  max-height: 5rem;
}

.chat-box-actions.active .outline {
  border-color: #9147ff !important;
  background: white;
}

.chat-box-actions:hover .outline {
  border-color: grey;
}
.chat-box-actions textarea {
  border: none;
  outline: none;
}

.align-t-l {
  top: 0.75rem;
  left: 0.75rem;
  color: white;
}

.align-b-l {
  bottom: 0.75rem;
  left: 0.75rem;
  color: white;
}
.align-b-r {
  bottom: 0.75rem;
  right: 0.75rem;
  color: white;
}

.align-t-r {
  bottom: 0.75rem;
  right: 0.75rem;
  color: white;
}
.card-text-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 0.4rem;
}

/** extra grid cols*/

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
