.live-card .thumbnail {
  min-width: 300px;
}
.live-card .thumbnail img {
  width: 332px;
  height: 187px;
  background: black;
}
.live-card .streamer-image .avatar {
  width: 38px;
  height: 38px;
}
.w-full .live-card .thumbnail img {
  width: 100% !important;
}
