.directory-type .icon {
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0, -34%);
}
.directory-type {
  height: 3.5rem !important;
}

.directory-type.games {
  background-image: url("../../../assets/backgrounds/gaming-background.png");
  background-size: 100% 100%;
}
.directory-type.irl {
  background-image: url("../../../assets/backgrounds/irl-background.png");
  background-size: 100% 100%;
}
.directory-type.music {
  background-image: url("../../../assets/backgrounds/music-background.png");
  background-size: 100% 100%;
}

.directory-type.esports {
  background-image: url("../../../assets/backgrounds/esports-background.png");
  background-size: 100% 100%;
}
