.mobile .index-category {
  width: 256px;
}

.browser .stream-card.category {
  border: 0px !important;
}
.browser .stream-card.category .category-image {
  transition: transform 0.25s;
}

.browser .stream-card.category .category-image:hover {
  transform: translate(5px, -5px);
}
.browser .stream-category .card-wrapper,
.browser .stream-category .card-wrapper-2 {
  transition: opacity 0.3s;
  opacity: 0;
}

.browser .stream-category:hover .card-wrapper {
  opacity: 1;
  top: -10px;
  background: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 10px, 5px 5px, 100% 100%, 100% 100%);
}

.browser .stream-category:hover .card-wrapper-2 {
  opacity: 1;
  top: 10px;
  left: 10px;
  background: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0 0,
    0 0,
    calc(100% - 5px) calc(100% - 15px),
    calc(100% - 10px) calc(100% - 10px)
  );
}
