.mobile .streams .stream-category-card {
  width: 256px;
}
/* Tablet */
@media only screen and (max-width: 768px) {
  .mobile .streams .stream-category-card {
    width: 207px;
  }
}
/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile .streams .stream-category-card {
    width: 135px;
  }
}

.mobile .streams .live-stream-card .thumbnail {
  width: 332px;
}
/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile .streams .live-stream-card .thumbnail {
    width: 244px;
  }
}
